.side-container {
  width: 346px;
  height: 693px;
  background-color: green;

  color: #ff5155;
  border: 3px solid #ff5155;
  border-radius: 15px;
  display: flex;
}
.score-board {
  font-family: Gotham;
  font-size: 30px;
}
.main-wrapper {
  display: flex;
  justify-content: initial;
}
.content-wrapper {
  width: 100%;
}

.dictation-wrapper {
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 92px;
  font-weight: 500;
  margin-bottom: 45px;
}
.dictation-wrapper p {
  text-transform: uppercase;
}
.game-score {
  font-family: Gotham;
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 47px;
  color: #ffffff;
}
.time-elapsed {
  font-family: Gotham;
  font-size: 118px;
  font-weight: 500;
  color: #ffffff;
}
.play-again {
  display: flex;
  align-items: center;
  font-family: Gotham;
  font-size: 54px;
  font-weight: 500;
  margin: 0 auto;
  justify-content: center;
}
.quit {
  color: #ff5155;
  font-family: Gotham;
  font-size: 47px;
  font-weight: 500;
  text-align: left;
  margin-top: 110px;
}
