.score-board {
  width: 346px;
  height: 493px;
  background-color: transparent;

  color: #ff5155;
  border: 3px solid #ff5155;
  border-radius: 15px;

  justify-content: center;
}
.score-board p {
}
.stop-game {
  display: flex;
  align-items: center;
  font-family: Gotham;
  font-size: 38px;
  font-weight: 500;
}
.score-board-items {
  display: flex;
  flex-direction: column;
  color: white;
}
.score-board-items p {
  color: white;
  font-family: Gotham;
  font-size: 30px;
}
